/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


@font-face {
  font-family: 'OpenSansCondensed';
  src: url('fonts/OpenSans_Condensed-SemiBold.ttf') format('truetype');
}

#accordion {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #2d2c41;
  font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

ul { list-style-type: none; }

a {
  color: #b63b4d;
  text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/


/*h1 {*/
/*  color: #FFF;*/
/*  font-size: 24px;*/
/*  font-weight: 400;*/
/*  text-align: center;*/
/*  margin-top: 80px;*/
/*}*/

/*h1 a {*/
/*  color: #c12c42;*/
/*  font-size: 16px;*/
/*}*/

.accordion {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
  /*background: #FFF;*/
  /*-webkit-border-radius: 4px;*/
  /*-moz-border-radius: 4px;*/
  /*border-radius: 4px;*/
}

/*.accordion .link {*/
/*  cursor: pointer;*/
/*  display: block;*/
/*  padding: 15px 15px 15px 42px;*/
/*  color: #4D4D4D;*/
/*  font-size: 14px;*/
/*  font-weight: 700;*/
/*  border-bottom: 1px solid #CCC;*/
/*  position: relative;*/
/*  -webkit-transition: all 0.4s ease;*/
/*  -o-transition: all 0.4s ease;*/
/*  transition: all 0.4s ease;*/
/*}*/

.accordion li:last-child .link { border-bottom: 0; }

/*.accordion li i {*/
/*  position: absolute;*/
/*  top: 16px;*/
/*  left: 12px;*/
/*  font-size: 18px;*/
/*  color: #595959;*/
/*  -webkit-transition: all 0.4s ease;*/
/*  -o-transition: all 0.4s ease;*/
/*  transition: all 0.4s ease;*/
/*}*/

/*.accordion li i.fa-chevron-down {*/
/*  right: 12px;*/
/*  left: auto;*/
/*  font-size: 16px;*/
/*}*/

/*.accordion li.open .link { color: #b63b4d; }*/

/*.accordion li.open i { color: #b63b4d; }*/

/*.accordion li.open i.fa-chevron-down {*/
/*  -webkit-transform: rotate(180deg);*/
/*  -ms-transform: rotate(180deg);*/
/*  -o-transform: rotate(180deg);*/
/*  transform: rotate(180deg);*/
/*}*/

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  /*background: #444359;*/
  /*font-size: 14px;*/
  margin-left: -40px;
}

.submenu .main-menu-item-text {
  font-size: 24px;
}

/*.submenu li { border-bottom: 1px solid #4b4a5e; }*/

.submenu a {
  display: block;
  text-decoration: none;
  padding: 12px;
  padding-left: 0px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#menu-desktop {
  display: flex;
}

#menu-mobile {
  display: none;
  margin-bottom: 24px;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

#isMobile {
  display: none;
}

html, body {
  font-size: 1em;
  line-height: 1.4;
  background: #00001C;
  margin: 0;
  font-family: 'Open Sans', serif;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
  background-image: url('../img/footer-bg.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.sponsor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
}

.sponsor-item {
  margin: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  height: 100%;
  position: relative;
  margin: 50px 100px 0px 100px;
  flex-direction: column;
}

.content-container-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.content-container-row-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  flex-wrap: wrap;
  background-color: #fff;
}

.video-wrapper{
  position: absolute;
  width: 100%;
  overflow: hidden;
  margin-top: -50px;
}

#panamea {
  position: relative;
  top: -550px;
  right: -550px;
}

#logo {
  margin-right: 25px;
  cursor: pointer;
}

#logo img{
}

#logo-text{
  min-width: 350px;
  height: 100px;
  /*opacity: 0.5;*/
  border: 1px solid rgba(0, 90, 92, 0.5);
  border-radius: 2px;
  /*margin-left: 25px;*/
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  display: flex;
  align-items: center;
}

#logo-text-content{
  padding-left: 16px;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;

}

#languages {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  margin-top: 7px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  flex-direction: row;
  display: flex;
}

#lang-en {
  height: 38px;
  width: 38px;
  background-image: url('../img/en.svg');
  display: flex;
  background-color: #70FBFB;
  border-radius: 50% 0% 0% 50%;
}

#lang-en.active{
  background-image: url('../img/en-selected.svg');
}

#lang-ro {
  height: 38px;
  width: 38px;
  background-image: url('../img/ro.svg');
  display: flex;
  background-color: #70FBFB;
  border-radius: 0% 50% 50% 0%;
}

#lang-ro.active{
  background-image: url('../img/ro-selected.svg');
}

#languages a {
  color: #fff;
  text-decoration: none;
}


#program {
  min-width: 224px;
  height: 100px;
  background: #70FBFB;
  border-radius: 2px;
  /*margin-left: 25px;*/
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  display: flex;
  align-items: center;

  font-family: OpenSansCondensed;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;

  margin-left: 125px;
}


#program-hours {
  padding: 15px;
  margin-top: -40px;
  background: #FF95E7;
  color: rgba(0, 0, 28, 1);
  border-radius: 2px;
  /*margin-left: 25px;*/
  display: flex;
  align-items: center;

  font-family: OpenSansCondensed;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;

  margin-left: 140px;
}

#box1 {
  box-sizing: border-box;

  position: absolute;
  width: 100px;
  height: 100px;
  left: 496px;

  opacity: 0.1;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}

#box2 {
  box-sizing: border-box;

  position: absolute;
  width: 50px;
  height: 50px;
  left: 372px;

  opacity: 0.2;
  border: 1px solid #006E70;
  border-radius: 2px;
}

#program-text {
  padding-left: 16px;
  font-family: 'OpenSansCondensed';
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
}

#bell {
  height: 38px;
  width: 38px;
  background-color: #70FBFB;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu-item {
  letter-spacing: -0.02em;
  margin-right: 48px;
  display: flex;
}

.main-menu-item-bell {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.main-menu-item a{
  text-decoration: none;
}

.main-menu-item a:hover .main-menu-item-text{
  color: #fff;
}

.active-main-menu-item .main-menu-item-text {
  color: #fff;
}

.active-main-menu-item .main-menu-arrow{
  display: inline;
}

.active-main-menu-item {
  display: flex;
  align-items: flex-end;
}


.generic-header .main-menu-item-text {
  color: #fff;
}

.generic-header .main-menu-arrow{
  display: inline;
}

.generic-header {
  display: flex;
  align-items: flex-end;
  margin-top: 60px;
  margin-bottom: 24px;
}

.expo-item{
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  aspect-ratio: 1 / 1 ;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.concept-item {
  aspect-ratio: 2 / 1 ;
}

.expo-static-text {
  align-items: flex-end;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(173, 174, 203, 1);
  margin-top: auto;
}

.expo-link-title{
  font-family: Open Sans;
  font-size: 48px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: -0.02em;
  text-align: left;
}

.clickable-expo-item {
  cursor: pointer;
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: var(--bg-image);
}

.clickable-expo-item-hover::before {
  position: absolute;
  content: "";
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-position: center;
  background-size: cover;
  background-image: var(--bg-image);
  filter: url('#blackCurrant-and-mint') sepia(0.14) contrast(1.8) brightness(0.7) hue-rotate(341deg) grayscale(0.19);
}

.clickable-expo-item-container{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#filter-icon {
  margin-left: auto;
}


.main-menu-item-text {
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;
  color: #5B5C76;
}


.active-menu-item {
  color: rgba(255, 255, 255, 1);
}

.main-menu-arrow {
  width: 10px;
  left: 5px;
  top: 5px;
  margin-left: 13px;
  align-self: flex-end;
  display: none;
}

.main-menu-arrow img {
  max-width:100%;
  max-height:100%;
}

.pad-top-130 {
  margin-top: 130px;
}

.calendar-container {
  display: flex;
}

.calendar-day-container {
  flex: 1 1 45%;
  display: flex;

  background-repeat: no-repeat;
  background-position: left bottom;

  margin-bottom:24px;

  cursor: pointer;

  /*background-image: url('../img/23.svg');*/
}

.calendar-day-container-wide {
  flex: 1 1 100%;
  margin-left: 0px;
  margin-bottom:24px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.day-simple {
  border-top: 1px solid #70FBFB;
  display: flex;
  flex-direction: row;
  flex: 1 1;
}

.day-special {
  border-top: 1px solid #70FBFB;
  display: flex;
  flex-direction: row;
  flex: 1 1;
}

.day-date-part {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
}

.day-event-part {
  flex: 0 1 348px;
  height: 348px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
  transition: all 0.4s;
  transition-timing-function: ease-out;
}

.calendar-day-container-wide .day-event-part{
  transition: all 0.5s;
}

.calendar-day-container-wide .day-special-right{
  transition: all 0.5s;
}

.day-event-part-simple {
  flex: 0 1 348px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
}

.small-pink-heading {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-align: left;
  text-transform: uppercase;

  color: rgba(255, 149, 231, 1);
}

.day-event-name {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 6px;

  color: #fff;
}

.small-not-so-pink-footer {
  flex: 1 1;
  display: flex;
  align-items: flex-end;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-align: left;
  color: rgba(173, 174, 203, 1);
}

.small-not-so-pink-footer-wrapper {
  display: flex;
  flex-direction: column;
}

.small-not-so-pink-footer-line {
  margin-bottom: 6px;
  text-transform: uppercase;
}

.day-event-location {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-align: left;
  color: rgba(173, 174, 203, 1);
  text-transform: uppercase;
}

.date-separator {
  min-width: 24px;
}

.day-date-nr {
  font-family: 'Open Sans';
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(112, 251, 251, 1);
  /*flex: 1 1;*/
  display: flex;
  min-height: 20px;
  margin-top: 15px;
}

.day-date-mon {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(112, 251, 251, 1);

  flex: 1 1;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
}

.day-special-left {
  flex: 0 1 608px;
  display: flex;
  flex-direction: row;
}

.day-special-right {
  flex: 0 1 632px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
}

.partners-subtitles {
  border-top: 1px solid #343453;
  padding: 10px 0px;
  display: flex;
  width: 100%;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'OpenSansCondensed';
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  color: #49DADA;

}

.sponsors-container{
  margin-bottom: 0px;
}

.footer {
  margin-top: 50px;
  border-top: 1px solid #70FBFB;
  background: linear-gradient(0deg, #00001C 0%, rgba(0, 0, 28, 0) 100%);
  padding: 24px;
  display: flex;
  width: 100%;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.footer-headings, .footer-headings-vt {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.custom-footer-padding {
  margin-bottom: 0px;
}

.footer-buttons {
  display: flex;
  flex-display: row;
  margin-top: 10px;
  flex-wrap: wrap;

}

.footer-button {
  color: #70FBFB;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  cursor: pointer;
  padding: 13px;
  background: #1A1A33;
  border-radius: 4px;

  margin-right: 10px;
  align-content: center;
  display: flex;
  margin-bottom: 10px;
}

.custom-footer-align {
  align-self: flex-end;
}


/* DETAILS --------------------------------------- */

.details-header {
  display: flex;
  justify-content: space-between;
  max-height: 45px;
  flex: 1;
}

.details-content {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.details-author {
  font-family: 'OpenSansCondensed';
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #FF95E7;
  text-transform: uppercase;
}

.details-title{
  font-family: 'Open Sans';
  font-size: 48px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: -0.02em;
  text-align: left;
  color:#000;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  /*vertical-align: middle;*/
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 600px) {
  #isMobile {
    display: inline;
  }
  /* Style adjustments for viewports that meet the condition */
  .content {
    margin: 24px 24px 0px 24px;
    flex-direction: column;
  }

  .content-container-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .content-container-row-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    background-color: #fff;
  }

  #panamea {
    position: relative;
    top: -550px;
    left: -200px;
  }

  #logo {
    margin-right: 100px;

  }

  #logo img {
    max-width: 50px;
  }

  #logo-text{
    width: 100%;
    height: 100px;
    border: 1px solid #005A5C;
    margin-top: 25px;
    margin-left: 0px;
    min-width:0px;
  }

  .pad-top-130 {
    margin-top: 80px;
  }

  .main-menu-item-bell {
    order: -1;
    margin-bottom: -40px;
    flex-direction: row-reverse;
  }

  #program{
    margin-left: 0px;
    margin-top: 24px;
  }

  .expo-item{
    flex: 1;
    margin-bottom: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .expo-static-text {
    margin-top: 70px;
  }

  #menu-desktop {
    display: none;
  }

  #menu-mobile {
    display: inline;
  }

  .day-event-part {
    flex: 0 1 262px;
    height: 262px;
  }

  .day-simple {
    margin: 0px;
  }

  .day-special {
    margin: 0px;
    flex-direction: column;
  }

  .calendar-day-container {
    flex: 1 1;
    display: flex;

    background-repeat: no-repeat;
    background-position: left bottom;

    margin-bottom: 0px;

    /*background-image: url('../img/23.svg');*/
    background-size: 200px;
  }


  .calendar-day-container-wide{
    margin-bottom: 0px;
  }

  #box2, #box1 {
    display: none;
  }

  .day-special-left {
    flex: 0 1;
  }

  .day-special-right {
    flex: 0 1 200px;
  }

  .footer{
    flex-direction: column;
  }

  .custom-footer-align {
    align-self: flex-start;
  }

  .custom-footer-padding {
    margin-bottom: 24px;
  }

  .date-separator {
    min-width: 0px;
  }

  .concept-item {
    aspect-ratio: 0;
  }

  #bell {
    border-radius: 0% 50% 50% 0%;
  }

  #lang-ro {
    /*border-radius: 0%;*/
  }

  .expo-link-title{
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 300;
    line-height: 42px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .footer-headings-vt {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
    order: 2;
  }

  /* DETAILS --------------------------------------- */

  .details-content {
    margin: 20px;
  }

  .details-title{
    font-family: 'Open Sans';
    font-size: 32px;
    line-height: 42px;
  }

  .details-author{
    font-size: 16px;
    line-height: 28px;
  }

}

/* media queries for screens smaller that max container width 1440px */
@media only screen and (max-width: 1440px) and (min-width: 600px) {
  /* Style adjustments for viewports that meet the condition */

  #panamea {
    position: relative;
    top: -550px;
    left: 160px;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

